.passwordsViewGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    overflow-y: auto;
    margin-right: -24px;
    padding-right: 24px;
}