.passwordCardList {
    display: flex;
    border-bottom: 2px solid rgba($color: #FFFFFF, $alpha: .2);
    align-items: center;
    padding: 24px 24px 18px 24px;
    margin: 0 -24px;

    &__imgWrapper {
        border-radius: 16px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 32px + 36px;
        box-shadow: 0 6px 6px 0px rgba($color: #000000, $alpha: .1);
    }

    &__content {
        margin-left: 16px;
    }

    &__img {
        align-self: center;
        max-width: 128px;
        max-height: 38px;
    }

    &__svg {
        width: 36px;
        fill: #3B8ABE;
    }

    &__name {
        color: #38516D;
        font-weight: normal;
    }

    &__email {
        color: #8D949B;
    }

    &:hover {
        background: rgba($color: #000000, $alpha: .04);
    }
    
    &--true {
        background: rgba($color: #000000, $alpha: .04);
    }
}
