.viewPasswords {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__content {
        display: flex;
    }
    
    &__menu {
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 42px;

        &__group {
            display: flex;
            align-items: center;

            > * {
                margin-right: 8px;
            }
            > *:last-child {
                margin-right: 0px;
            }
        }
    }
}