.viewNav {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    overflow: hidden;
    
    &__backgroundImg {
        position: absolute;
        top:-15px;
        right:-15px;
        bottom:-15px;
        left:-15px;
        z-index: -1;
        background-image: url('../res/img/navBackgroundImg.png');
        background-position: center;
        background-size: cover;
        filter: blur(10px) brightness(170%);
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgba($color: #234369, $alpha: .20);
        padding: 42px 0 18px 0;
        height: 100%;
    }

    &__footer {
        background: rgba($color: #3a6396, $alpha: .20);
        padding: 18px 0 42px 0;
    }
}