.viewPasswordGenerator {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__container {
        &__password, &__copy, &__range, &__checkboxes {
            margin-bottom: 24px;
        }

        &__password {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid rgba($color: #3B8ABE, $alpha: 1);
        }

        &__copy {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__password {
        color: rgba($color: #000000, $alpha: .8);
        padding-bottom: 32px;
        font-size: 1.1em;
        font-family: Spartan;
        font-weight: 600;
    }

    &__refresh {
        &__button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;
            width: 60px;
            height: 60px;

            &:focus {
                outline: none;
            }
        }
        
        &__svg {
            height: 100%;
            fill: rgba($color: #000000, $alpha: .8);
        }
    }

    &__copy__button {
        border: 1px solid rgba($color: #000000, $alpha: .3);
        border-radius: 6px;
        cursor: pointer;
        padding: 18px 26px;
        color: rgba($color: #000000, $alpha: .8);
        font-weight: 500;
        font-size: 1em;

        &:focus {
            outline: none;
        }

        &:hover {
            background: rgba($color: #000000, $alpha: .05);
        }
    }
    &__length {
        color: rgba($color: #000000, $alpha: .8);
        font-size: 1.05em;
        font-weight: 500;
    }
    &__range {
        margin: 24px 0;
        -webkit-appearance: none;
        width: 100%;
        height: 12px;
        border-radius: 6px;
        background: rgba($color: #000000, $alpha: .2);

        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 38px;
            height: 38px;
            border-radius: 100%;
            background: #3B8ABE;
            cursor: pointer;
        }
          
        &::-moz-range-thumb {
            width: 38px;
            height: 38px;
            border-radius: 100%;
            background: #3B8ABE;
            cursor: pointer;
        }
    }

    &__item {
        margin-bottom: 8px;
    }

    &__checkbox {
        transform: scale(2);
        margin: 8px;
    }

    &__label {
        margin-left: 6px;
        color: rgba($color: #000000, $alpha: .8);
        font-size: 1.05em;
        font-weight: 500;
    }
}