.blockPasswordsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding-right: 12px;
    margin-right: -12px;
    overflow-y: auto;
}