.viewPasswords {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__menu {
        display: flex;
        margin-bottom: 42px;

        &__group {
            display: flex;

            > * {
                margin-right: 8px;
            }
            > *:last-child {
                margin-right: 0px;
            }
        }
    }
}