.cardPasswordGrid {
    width: 220px;
    background: #FFFFFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 8px 0;

    &__imgWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 48px + 12px;
        padding-bottom: 12px;
    }

    &__img {
        max-width: 160px;
        max-height: 48px;
    }

    &__website {
        color: #38516D;
        font-weight: normal;
    }

    &__email {
        color: #8D949B;
    }
}