.nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 256px;
    height: 100vh;
    overflow: hidden;

    &__container {
        z-index: -1;
        position: absolute;
        top:-15px;
        right:-15px;
        bottom:-15px;
        left:-15px;
        background-image: url('../../img/navBackgroundImg.png');
        
        background-position: center;
        background-size: cover;
        filter: blur(8px);
    }

    &__main {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: rgba($color: #234369, $alpha: .20);
    }

    &__foot {
        background: rgba($color: #3b73b3, $alpha: .20);
    }
}